<h2>This is a new Celebrity!</h2>

<form action="/celebrities/create" method="POST">
  <input type="text" name="name" tag="Name:" placeholder="Enter name" />
  <input type="text" name="occupation" tag="Occupation:" placeholder="Enter occupation!" />
  <input type="text" name="catchPhrase" tag="Catch Phrase:" placeholder="Enter catch Phrase!" />

  <button type="submit">Create!</button>
</form>