<h1>Welcome</h1>

<a href="/celebrities">Celebrities</a>
</br>
<a href="/celebrities/create">New celebrity</a>
</br>
<a href="/movies">Movies</a>
</br>
<a href="/movies/create">New movie</a>
</br>
<a href="/edit-movie">Edit movie</a>
</br>
<a href="/movie-details">Movies details</a> 